.app__collection {
  /* border: 2px solid red; */
  width: 100%;
  /* position: relative; */
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__collection-overlay {
  /* position: absolute; */
  /* inset: 1em; */
  display: flex;

  /* border: 2px solid greenyellow; */
}

.app__collection-content {
  display: flex;
  flex-direction: column;
}
